@font-face {
	font-family: duke;
	src: url("../font/duke.ttf");
}

body {
    background:url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px !important;
}

nav {
	margin-top: 100px;
}

table {
	margin: 0 auto;
	border: 2px solid white;	
	width: 600px;
}

td {
	padding: 3px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 20px;
}

label {
	font-size: 50px;
	font-family: duke;
	font-style:normal;
	color: white;
}

input[type=text] {
	width: 400px;
	padding: 5px;
	height: 40px;
	border: 1px solid white;
	background: none;
	font-size: 18px;
	font-family: arial;
	color: white;
}

input[type=text]:focus {
	outline: none !important;
	border: 1px solid gray;
}

textarea{
	width: 400px;
	height: 200px;
	padding: 5px;
	border: 1px solid white;
	background: none;
	margin-bottom: 20px;
	font-family: arial;
	font-size: 14px;
	color: white;
}
textarea:focus {
	outline: none !important;
	border: 1px solid gray;
}

input[type=submit] {
	background: none;
	padding: 0px 0px 50px 0px;
	border: solid 1px white;
	height: 40px;
	width: 120px;
	font-family: duke;
	font-size: 40px;
	text-align:center;
	color: white;
	cursor: pointer;
	align-content:center;
	margin-left: 280px;		
}

input[type=submit]:hover{
	background: none;
	padding: 0px 0px 50px 0px;
	border: solid 1px gray;
	height: 40px;
	width: 120px;
	font-family: duke;
	font-size: 40px;
	text-align:center;
	color: gray;
	cursor: pointer;
	align-content:center;
	margin-left: 280px;	
}

Read more at http://www.yashpalsingh911.com/tutorials/making-an-elegant-contact-form-using-html-and-css/#J7L40kj7hYcuuYx6.99 

form { 
	padding: 0px 10px;
	font-family: arial;
	font-size: 12px;
}